@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");

%container {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding-left: 2%;
  padding-right: 2%;

  @media (min-width: 768px) {
    padding-left: 4%;
    padding-right: 4%;
  }

  @media (min-width: 992px) {
    padding-left: 5%;
    padding-right: 5%;
  }

  @media (min-width: 1200px) {
    padding-left: 8%;
    padding-right: 8%;
  }
}

.header-section {
  @extend %container;

  .header-title {
    fa-icon {
      font-size: 2rem;
    }
  }

  .btn-brainiac {
    background-color: #44001a;
    color: #fff;
    font-size: 1rem;

    fa-icon {
      font-size: 1.2rem;
    }
  }
}

.table-section {
  @extend %container;

  .table {
    th {
      background-color: #b15b5b;
      color: #fff;
    }

    tr:hover {
      background-color: #f1f1f1;
    }

    fa-icon {
      font-size: 1.5rem;
      color: #44001a;
      cursor: pointer;
    }
  }
}
