<div class="header-section d-flex justify-content-between align-items-center pt-1">
    <div class="header-title  d-flex align-items-center">
        <fa-icon [icon]="faUserGroup" class="pe-2"></fa-icon>
        <h2>List of smart guys</h2>
    </div>
    <button class="btn btn-brainiac d-flex align-items-center py-2 px-4 " (click)="createUser()">
        <fa-icon [icon]="faPlus" class="me-2"></fa-icon>
        Add brainiac
    </button>
</div>
<div class="table-section mt-3">
    <table class="table table-striped table-hover w-100">
        <thead>
            <tr>
                <th>Id</th>
                <th></th>
                <th>First name</th>
                <th>Last name</th>
                <th>E-mail</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr app-row *ngFor=" let user of usersListTable" [user]="user">
            </tr>
        </tbody>
    </table>
</div>